<%- include('partials/header') -%>

    <div class="container mt-5 w-100">
        <%- include('partials/messages') -%>
        <div class="row sm-12">
            <div class="col sm-12 m-4">
                <form  action="/delete/<%= data.ship.id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger btn-block mt-3">
                        Delete Vessel
                    </button>
                </form>
                <p>Vessel mt_id : <%= data.ship.mt_id %>                </p>

                <p>Vessel Imo: <%= data.ship.imo %>                </p>

                
                
                <p>Vessel Type : <%= data.ship.v_type %>                </p>
                <p>Vessel Name : <%= data.ship.name %>
                </p>
                <p>Operator: <%= data.ship.operator %>
                </p>
                <p>Call Sign: <%= data.ship.callSign %>
                </p>
                <p>Arrival port : <%= data.ship.arrPort %>
                </p>
                <p>Country : <%= data.ship.arrCountry %>
                </p>
                <p>ETA : <%= data.ship.eta %>
                </p>
                <p>Message last sent : <%= data.ship.o_sent %>
                </p>
                </p>



            </div>
            <div class="col sm-12 m-4">

                <h2 class="mb-4">Update Ship</h2>

                
                <form action="/edit/<%= data.ship.id %>?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">

                    <input type="text" autocomplete="on" value="<%= data.ship.name %>" name="name" class="form-control">

                    <input type="text" value="<%= data.ship.remarks %>" name="remarks" class="form-control">

                    <input type="text" value="<%= data.ship.operator %>" name="operator" class="form-control">
                    <input type="text" value="<%= data.ship.v_type %>" name="v_type" class="form-control">

                    <button type="submit" class="btn btn-primary btn-block mt-3">Update Info</button>

                </form>

                <form action="/updatefrombig/<%= data.ship.imo %>?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                


                    <button type="submit" class="btn btn-primary btn-block mt-3">Update Ship from Big</button>

                </form>
         
                <form  action="/mt_update/<%= data.ship.id %>" method="POST">
                   
                    <button type="submit" class="btn btn-success btn-block mt-3">
                        Update ETA
                    </button>
                </form>
               
            </div>
            <div class="col sm-12 m-4 ">

                <h4 class="mb-4">Others in the fleet</h4>
                <table style : {font-size:0.5 rem}>
                    <thead>
                        <td>
                            name_of_vessel
                        </td>
                        <td>
                            email_address_of_vessel
                        </td>
                    </thead>
                    <tfoot>

                    </tfoot>
                    <tbody>
                        <% data.others.slice(0, 25).forEach((other)=> { %>
                            <tr class="px-12">
                                <td>
                                    <a  href="/details/<%= other.id %>">
                                        <%= other.name %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/sendmail/<%= other.id %>">
                                        <%= other.remarks.slice(0,36) || "n/a" %>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <%- include('partials/footer') -%>