<%- include('partials/header') -%>

  <div class="containerJa">
    <%- include('partials/messages') -%>

      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>type</th>
            <th>Name</th>
            <th>email</th>
            <th>ism Man</th>
            <th>imo</th>
            <th>operator</th>
            <th>Db-></th>
            <th>Sent on</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <% ships.slice(0, 1000).forEach((ship)=> { %>
            <tr>
              <!-- <td><%= ship.mysql_id %></td> -->
              <td>
                <%= ship.v_type %>
              </td>
          
              <td><a href="/details/<%= ship.id %>">
                  <%= ship.name %>
                </a></td>
              <!-- class="thick" -->
              <td class="sendMail">
                <a href="/sendmail/<%= ship.id %>">
                  <%= ship.remarks.slice(0,36) || "n/a" %>
                </a>
              </td>
              <td>
               

                <%= (ship.ismManagerName || "n/a").slice(0,9) %>
              </td>
              <td>
                <%= ship.imo %>
              </td>
              <td>
                <a href="/byOperator/<%= ship.operator %>">
                  <%= (ship.operator|| "n/a").slice(0,13) %>
                </a>
              
              </td>
              <!-- <td>
            <a class="btn btn-primary" href="/edit/<%= ship.id %>">Edit</a>
          </td> -->
          <td>
            <form action="/updatefrombig/<%= ship.imo %>?_method=PUT" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <button type="submit" class="btn btn-primary btn-block mt-3">Db</button>
            </form>
          </td>
              <td>
                <%= (ship.o_sent || "n/a").slice(0,11) %>
              </td>
              <td>
                <form  action="/delete/<%= ship.id %>?_method=DELETE" method="POST">
                  <input type="hidden" name="_method" value="DELETE" />
                  <button type="submit" class="btn btn-danger btn-block mt-3">
                      Delete
                  </button>
              </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
  </div>
  <%- include('partials/footer') -%>