<%- include('partials/header') -%>

<div class="container">
  <%- include('partials/messages') -%>


  
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Battery</th>
          <th>pre_ft</th>
          <th>H/L</th>
          <th>Open</th>
          <th>Close</th>
          <th>Open</th>
         
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Battery</th>
          <th>pre_ft</th>
          <th>H/L</th>
          <th>Open</th>
          <th>Close</th>
          <th>Open</th>
         
        </tr>
      </tfoot>
      <tbody>

        <% ships.slice(0, 4).forEach((ship)=> { %>
        <tr>
          <td><%= ship.name %></td>
          <td><%= ship.mysql_id %></td>
          <td><%= ship.ismManagerName %></td>
          <td><%= ship.imo %></td>
          <td><%= ship.operator %></td>
          <td class="thick"><%= ship.remarks || "n/a" %> </td>
          <td>
            <a class="btn btn-primary" href="/edit/ <%= ship.id %>">Edit</a>
          </td>
          <td>
            <form
              style="display: inline"
              action="/delete/<%= ship.id %>?_method=DELETE"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button
                style="cursor: pointer"
                type="submit"
                class="btn btn-danger ml-2"
              >
                Delete
              </button>
            </form>
          </td>
        
        </tr>
        <% }) %>











      </tbody>
    </table>
 
</div>
  <%- include('partials/footer') -%>
