<%- include('partials/header') -%>

<div class="container">
  <%- include('partials/messages') -%>


  
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>email</th>
          <th>ism Man</th>
          <th>imo</th>
          <th>operator</th>
          <th>edit</th>
          <th>Delete</th>
         
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>email</th>
          <th>ism Man</th>
          <th>imo</th>
          <th>operator</th>
          <th>edit</th>
          <th>Delete</th>
         
        </tr>
      </tfoot>
      <tbody>

        <% ships.slice(0, 100).forEach((ship)=> { %>
        <tr>
          <td><%= ship.mysql_id %></td>
          <td><%= ship.name %></td>
          <td class="thick"><%= ship.remarks || "n/a" %> </td>
          <td><%= ship.ismManagerName.slice(0,9) %></td>
          <td><%= ship.imo %></td>
          <td><%= ship.operator.slice(0,9) %></td>
          <td>
            <a class="btn btn-primary" href="/edit/ <%= ship.id %>">Edit</a>
          </td>
          <td>
            <form
              style="display: inline"
              action="/delete/<%= ship.id %>?_method=DELETE"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button
                style="cursor: pointer"
                type="submit"
                class="btn btn-danger ml-2"
              >
                Delete
              </button>
            </form>
          </td>
        
        </tr>
        <% }) %>











      </tbody>
    </table>
 
</div>
  <%- include('partials/footer') -%>
