<%- include('partials/header') -%>

  <div class="container">
    <%- include('partials/messages') -%>
      <!-- <div class="row buttons firstBlock six_p">
        <div class="col-sm-4 col-md-4 col-lg-4 skys ">


          <select name="etas" id="etas" class="six_p">
            <option value="select">eta start</option>
            <option value="0">0</option>
            <option value="20">20</option>
          </select>
          <button id="data-eta" class="  six_p"> get Eta</button>
        </div> -->
        <div class="col-sm-4 col-md-4 col-lg-4 skys six_p ">
          <div>


            <!-- <input class="ch15" type="text" id="marTraffSearchBox" name="name" placeholder="Enter Imo"> -->

            <input class="ch15 six_p" type="text" id="get-inmarsat1" name="name" placeholder="vessel Name">

            <!-- <input class="ch15 six_p" type="text" id="by-operator" name="name" placeholder="operator"> -->
<!-- 
            <button id="us-eta" class=" blue"> get US arr</button>
            <input class="arr-port six_p" type="text" id="arr-port" name="arrport" placeholder="Arr port"> -->




          </div>
        </div>

        <div class="container mt-5">

          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery</th>
                <th>pre_ft</th>
                <th>H/L</th>
                <th>Open</th>
                <th>Close</th>
                <th>Open</th>
                <th>Close</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery</th>
                <th>pre_ft</th>
                <th>H/L</th>
                <th>Open</th>
                <th>Close</th>
                <th>Open</th>
                <th>Close</th>
              </tr>
            </tfoot>
            <tbody>


              <% ships.slice(0, 4).forEach((ship)=> { %>
                <tr>
                  <td>
                    <%= ship.name %>
                  </td>
                  <td>
                    <%= ship.mysql_id %>
                  </td>
                  <td>
                    <%= ship.ismManagerName %>
                  </td>
                  <td>
                    <%= ship.imo %>
                  </td>
                  <td>
                    <%= ship.operator %>
                  </td>
                  <td class="thick">
                    <%= ship.remarks %>
                  </td>

                  <td>
                    <a class="btn btn-primary" href="/edit/<%= ship.id %>">Edit</a>
                    <form style="display: inline;" action="/delete/<%= ship.id %>?_method=DELETE" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                    </form>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>
        </div>
        <%- include('partials/footer') -%>